@import "tailwindcss";
@import '@fortawesome/fontawesome-free/css/all.min.css';


:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

.text-gradient {
    background: -webkit-linear-gradient(#4338ca, #818cf8);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.text-gradient-dark-bg-1 {
    background: -webkit-linear-gradient(#a78bfa, #c7d2fe); /* Violet 400 to Indigo 200 */
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.text-gradient-dark-bg-2 {
    background: -webkit-linear-gradient(#38bdf8, #22d3ee); /* Sky 400 to Cyan 400 */
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.text-gradient-dark-bg-3 {
    background: -webkit-linear-gradient(#2F8F8F, #206E6E); /* Lighter teal to darker teal */
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.text-gradient-dark-bg-4 {
    background: -webkit-linear-gradient(#76D1CD, #5DA7A7); /* Lighter teal to darker teal */
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.spinner {
 width: 44px;
 height: 44px;
 animation: spinner-y0fdc1 2s infinite ease;
 transform-style: preserve-3d;
}

.spinner > div {
 background-color: rgba(0,77,255,0.2);
 height: 100%;
 position: absolute;
 width: 100%;
 border: 2px solid #5DA7A7;
}

.spinner div:nth-of-type(1) {
 transform: translateZ(-22px) rotateY(180deg);
}

.spinner div:nth-of-type(2) {
 transform: rotateY(-270deg) translateX(50%);
 transform-origin: top right;
}

.spinner div:nth-of-type(3) {
 transform: rotateY(270deg) translateX(-50%);
 transform-origin: center left;
}

.spinner div:nth-of-type(4) {
 transform: rotateX(90deg) translateY(-50%);
 transform-origin: top center;
}

.spinner div:nth-of-type(5) {
 transform: rotateX(-90deg) translateY(50%);
 transform-origin: bottom center;
}

.spinner div:nth-of-type(6) {
 transform: translateZ(22px);
}

@keyframes spinner-y0fdc1 {
 0% {
  transform: rotate(45deg) rotateX(-25deg) rotateY(25deg);
 }

 50% {
  transform: rotate(45deg) rotateX(-385deg) rotateY(25deg);
 }

 100% {
  transform: rotate(45deg) rotateX(-385deg) rotateY(385deg);
 }
}

